      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Om</title>
      </head>
      <body>
        <div class="boklista">
          <img src="img1.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn1" class="btn btn-default"> <h1>Shanghai</h1></button>
        </div>
        <div class="boklista">
          <img src="img2.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn2" class="btn btn-default"> <h1>En levnedsskildring</h1></button>
        </div>
        <div class="boklista">
          <img src="img3.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn3" class="btn btn-default"> <h1>Three lives</h1></button>
        </div>
        <div class="boklista">
          <img src="img4.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn4" class="btn btn-default"> <h1>Dissertation on the Scriptural Authority</h1></button>
        </div>
        <div class="boklista">
          <img src="img5.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn5" class="btn btn-default"> <h1>Opere di Battista Guarini</h1></button>
        </div>
        <div class="boklista">
          <img src="img6.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn6" class="btn btn-default"> <h1>Barabarism of Slavery</h1></button>
        </div>
        <div class="boklista">
          <img src="img7.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn7" class="btn btn-default"> <h1>History of Walworth County</h1></button>
        </div>
        <div class="boklista">
          <img src="img8.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn8" class="btn btn-default"> <h1>Two Men in the West</h1></button>
        </div>
        <div class="boklista">
          <img src="img9.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn9" class="btn btn-default"> <h1>The Changed Cross</h1></button>
        </div>
        <div class="boklista">
          <img src="img10.jpg" alt="img1" style="height:150px;">
          <button type="button" id="listbtn10" class="btn btn-default"> <h1>An Analysis of the Galic Langugage</h1></button>
        </div>


        <div id="bok1" class="boksida"><p>There's no description for this book yet.</p>
        </div>

        <div id="bok2" class="boksida"><p> J.P.E. Hartmann <br />
          en levnedsskildring <br />
          af William Behrend <br />
          Published 1918 by Gyldendal in København . <br />
          Written in Danish.</p>
        </div>

        <div id="bok3" class="boksida"><p>
          Three lives 50 editions
          By Gertrude Stein <br />
          Cover of: Three lives by Gertrude Stein<br />
          About the Book <br />
          Gertrude Stein, as a college student at Radcliffe and a medical student at Johns Hopkins Medical School, was a privileged woman, but she was surrounded by women who were trapped by poverty, class, and race into lives that offered little choice. Her portraits of Anna and Lena are examples of realistic depictions of immigrant women who had no occupational choice but to become domestic workers. This collection of documents from the history of women's suffrage, medical history, modernist art, and literature enables readers to see how radical Stein's subject was. </p>
        </div>


        <div id="bok4" class="boksida"><p>
          A dissertation on the Scriptural authority, nature and uses of infant baptism 2nd ed. <br />
          Published 1826 by Printed at the University Press in Glasgow. <br />
          Written in English.
        </p></div>


        <div id="bok5" class="boksida"><p>
          By Battista Guarini

        </p></div>


        <div id="bok6" class="boksida"><p>
          By Sumner, Charles
        </p></div>

        <div id="bok7" class="boksida"><p>
          History of Walworth County, Wisconsin <br />
          containing an account of its settlement, growth, development and resources...its war record, biographical sketches, portraits of prominent men and early settlers; the whole preceded by a history of Wisconsin...and an abstract of its laws and constitution...

        </p></div>

        <div id="bok8" class="boksida"><p>
          By Will R. Halpin

        </p></div>

        <div id="bok9" class="boksida"><p>
          By Anson Davies Fitz

        </p></div>

        <div id="bok10" class="boksida"><p>
          By Shaw, William
        </p></div>

        <script src="../static/css/jquery.js"></script>
        <script>

        $(function () {


         <!-- Bok 1 -->
         $('#listbtn1').on('click', function() {
           $('.boklista').hide();
           $('#bok1').show();
         });

         <!-- Bok 2 -->
         $('#listbtn2').on('click', function() {
           $('.boklista').hide();
           $('#bok2').show();
         });

         <!-- Bok 3 -->
         $('#listbtn3').on('click', function() {
           $('.boklista').hide();
           $('#bok3').show();
         });

         <!-- Bok 4 -->
         $('#listbtn4').on('click', function() {
          $('.boklista').hide();
          $('#bok4').show();
        });


         <!-- Bok 5 -->
         $('#listbtn5').on('click', function() {
           $('.boklista').hide();
           $('#bok5').show();
         });


         <!-- Bok 6 -->
         $('#listbtn6').on('click', function() {
          $('.boklista').hide();
          $('#bok6').show();
        });


         <!-- Bok 7 -->
         $('#listbtn7').on('click', function() {
          $('.boklista').hide();
          $('#bok7').show();
        });


         <!-- Bok 8 -->
         $('#listbtn8').on('click', function() {
          $('.boklista').hide();
          $('#bok8').show();
        });


         <!-- Bok 9 -->
         $('#listbtn9').on('click', function() {
          $('.boklista').hide();
          $('#bok9').show();
        });


         <!-- Bok 10 -->
         $('#listbtn10').on('click', function() {
          $('.boklista').hide();
          $('#bok10').show();
        });


       });


      $(document).ready(function(){
        $('.boksida').hide();
        

      });

      </script>


    </body>
    </html>