  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Boksamling M&S</title>
    <link href='../static/css/bootstrap.min.css' rel="stylesheet">
    <link href='../static/css/site.css' rel="stylesheet">
  </head>

  <section class='container'>

    <div class="container">
      <div class="jumbotron">
        <h1>Boksamling M&S</h1>
        <p>Världens bästa boksamling.</p>
      </div>
    </div>

    <div class="menu">

     <button type="button" id="btnom" class="btn-lg btn-info" data-toggle="tooltip" data-placement="left" title="Om">Om</button>
     <button type="button" id="btnhome" class="btn-lg btn-info" data-toggle="tooltip" data-placement="top" title="Böcker">Home</button>
     <button type="button" id="btnkont" class="btn-lg btn-info" data-toggle="tooltip" data-placement="bottom" title="Kontakt">Konktakt</button>
     <button type="button" id="btnbok" class="btn-lg btn-info" data-toggle="tooltip" data-placement="bottom" title="Böcker">Böcker</button>

   </div>
   <br/>

        {% if errors %}
      <div class="alert alert-danger">
	{{ errors }}
      </div>
      {% endif %}
        {% if data %}
      <div class="alert alert-danger">
	{{ data }}
      </div>
      {% endif %}

   <div id="tabOm"></div>
   <div id="tabBok"></div>

   <div id="tabHome">
     <h1>Välkommen till vår boksamling!</h1>
   </div>
      <div id="tabKont" >
         </div>

       </section>
       <script src="../static/css/jquery.js"></script>
       <script>

       $(function () {

         <!-- Bokknapp -->
         $('#btnbok').on('click', function(){
          $('#tabBok').show();
          $('.boklista').show();
          $('.boksida').hide();
          $('#tabKont').hide();
          $('#tabHome').hide();
          $('#tabOm').hide();
          if ($('#tabBok').is(':empty')){
            $.get("/bocker", function(data){
             $('#tabBok').append(data);
           })

          }
        });

         <!-- Kontaktknapp -->
         $('#btnkont').on('click', function() {
          $('#tabKont').load("/contact");
          $('#tabKont').show();
          $('#tabOm').hide();
          $('#tabBok').hide();
          $('.boksida').hide();
          $('#tabHome').hide();
          $('.boklista').hide();
        });

         <!-- Omknapp -->
         $("#btnom").on('click', function(){
           $("#tabOm").load("/om");
           $('#tabOm').show();
           $('#tabBok').hide();
           $('#tabHome').hide();
           $('.boksida').hide();
           $('#tabKont').hide();
           $('.boklista').hide();
         });

         <!-- Homeknapp -->
         $('#btnhome').on('click', function() {
          $('#tabHome').show();
          $('#tabBok').hide();
          $('#tabOm').hide();
          $('.boksida').hide();
          $('#tabKont').hide();
          $('.boklista').hide();
        });


       });


  $(document).ready(function(){
    $('#tabKont').hide();
    $('#tabBok').hide();
    $('#tabOm').hide();
  });

  </script>

</body>
</html>
